[Unit]
Description=The SIM Service


[Service]
Type=forking
User=dcuser
Group=dc5000
ExecStart=${START_SCRIPT}
ExecStop=${STOP_SCRIPT}
Restart=on-failure
RestartSec=15
StartLimitInterval=250
StartLimitBurst=3
TimeoutStartSec=60
TimeoutStopSec=30

#Exit code 143 means that the program received a SIGTERM signal to instruct it to exit.
#The JVM catches the signal, does a shutdown, i.e. it runs registered shutdown hooks,
#but still exits with an exit code of 143. That's just how Java works.
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
